#early2021 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    z-index: 3;
  }
  
  #early2021 .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  
  #early2021 .top {
    position: relative;
    width: 100%;
    background: transparent;
  }
  
  #early2021 .top .inner {
    height: 962px;
  }
  
  #early2021 .top .main_img {
    position: absolute;
    z-index: 5;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  #early2021 .top .pacles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  #early2021 .top .c1_s img {
    position: absolute;
    animation: star 20s linear infinite;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;
  }
  
  #early2021 .top .c1_s img:nth-child(1) {
    animation-delay: 0;
    animation-duration: 1.6s
  }
  
  #early2021 .top .c1_s img:nth-child(2) {
    animation-delay: -1.5s;
    animation-duration: 1.4s
  }
  
  #early2021 .top .c1_s img:nth-child(3) {
    animation-delay: -0.7s;
    animation-duration: 1.2s
  }
  
  #early2021 .top .c1_s img:nth-child(4) {
    animation-delay: -1s;
    animation-duration: 1s
  }
  
  #early2021 .top .c1_s img:nth-child(5) {
    animation-delay: 0.2s;
    animation-duration: 2s
  }
  
  #early2021 .top .c1_s img:nth-child(6) {
    animation-delay: -2s;
    animation-duration: 1.8s
  }
  
  #early2021 .top .c1_s img:nth-child(7) {
    animation-delay: -0.5s;
    animation-duration: 1.2s
  }
  
  #early2021 .top .c1_s img:nth-child(8) {
    animation-delay: -1.2s;
    animation-duration: 2s
  }
  
  @keyframes star {
    from {
      opacity: 0;
      margin-left: 0;
      margin-top: 0
    }
  
    35% {
      opacity: 1;
      margin-left: -5%;
      margin-top: 5%
    }
  
    70% {
      opacity: 0;
      margin-left: -10%;
      margin-top: 10%
    }
  
    to {
      opacity: 0;
      margin-left: -10%;
      margin-top: 10%
    }
  }
  